body {
    font-family: sans-serif;
    background-color: #65A5D1;
}
footer h1{
    margin: 10px 0px 10px 0px;
}

header{
    background-color: #03406A;
}

footer{
    background-color: #03406A;
}
h1{
    text-align: center;
    background-color: #24577B;
}
a{
    color:white ;
    background-color: #24577B;
}

p{
    background-color: #3E94D1;
}
main,footer{
    background-color: #65A5D1;
}
td h2{
    background-color: #3E94D1;
}
table{
    margin:0 auto 0 auto
}
main{
    width: 600px;
}
