header{
    height: 50px;
    font-size: 20px;
    background-image: linear-gradient(to right,#FF2A18,#FF6E18,#FFA718,#FCFF18);
}

a{
 color: rgb(0, 0, 0);
}
h1{
    text-align: center;
    background-image: linear-gradient(to right,#FF2A18,#FF6E18,#FFA718,#FCFF18);
}
.poster{
    width:200px ;
    height: ;
    margin: 20px;
    border: solid;
}

.posters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around

    }
